/*-- Fonts --*/
@font-face {
  font-family: "Reglisse-Back";
  src: url("../fonts/Reglisse_Back.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Reglisse-Fill";
  src: url("../fonts/Reglisse_Fill.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Reglisse";
  src: url("../fonts/Reglisse.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "SuperMario256";
  src: url("../fonts/SuperMario256.ttf") format("truetype");
  font-display: swap;
}
/*------COLORS-------*/
/*------ RESPONSIVE LIBS--------*/
/*-------------Formatting Buttons-------------*/
.gameBtn {
  width: auto;
  height: 35px;
  border-radius: 1.1rem;
  line-height: 1.2cap;
  padding: 7px 14px;
  border-color: #ff6f00;
  color: rgb(204.5, 67.9048780488, 25);
  cursor: pointer;
  font-family: "Reglisse-Fill";
  font-size: 1.2em;
  border-width: 2px;
  box-shadow: #333 0px 3px 2px;
  background-color: rgb(252, 239.3095238095, 190.5);
  letter-spacing: -0.1rem;
}
.gameBtn:hover {
  border-color: #e64a19;
  color: rgb(230, 93.4048780488, 50.5);
  box-shadow: #333 0px 1px 2px;
}

#btnExit {
  margin-left: 3cap;
  margin-top: 2cap;
  color: #e64a19;
}

#btnReset {
  margin-right: 3cap;
  margin-top: 2cap;
  color: #1345B7;
}

#exit {
  padding: 5px 2cap;
}

#next {
  padding: 5px 1.7cap;
}

#quickGame, #start, #credits {
  width: 15cap;
  height: auto;
  line-height: 2cap;
  text-align: center;
  margin: 0 1%;
}

#mute {
  position: absolute;
  top: 10%;
  right: 15%;
  transform: translate(-50%);
  width: 3cap;
  height: 2cap;
  background-image: url(../img/volume-on.png);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}

#go {
  position: absolute;
  font-size: 1.6em;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border-width: 5px;
  bottom: 10%;
  transform: translate(-50%, -50%);
}

@keyframes preloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#preloader {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  padding-top: 5vh;
}

.fade-out {
  animation: preloader 1s ease-in-out forwards;
}

#loading-logo {
  margin-top: 25vh;
}

.progress-bar {
  width: 50%;
  height: 10px;
  background: #222222;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  width: 0%;
  height: 100%;
  background: #1345B7;
  transition: width 0.5s;
}

#loading-text {
  color: #fff;
  font-size: 1.5em;
  font-family: "Reglisse-fill";
}

video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

#popup {
  display: none;
  position: fixed;
  top: 3%;
  left: 5%;
  width: 90%;
  height: 94%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2cap;
  background-color: rgba(252, 244.5714285714, 216, 0.9);
  border: dotted 2px #e64a19;
  border-radius: 15px;
  z-index: 9999;
  overflow: auto;
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.6);
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  background-image: url("../img/close.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.upCredits {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -25%);
  border: dotted 2px #e64a19;
  border-radius: 15px;
  box-shadow: #333 0px 3px 2px;
  width: 40%;
  height: auto;
  padding: 3%;
  background-color: rgba(252, 244.5714285714, 216, 0.9);
  z-index: 10;
  font-family: "Reglisse-Fill";
  color: #e64a19;
}
.upCredits ul {
  list-style-type: none;
}
.upCredits a {
  color: #1345B7;
}
.upCredits li {
  font-size: 1.2em;
  padding: 2%;
}

/** Fade To Black --*/
@keyframes fadetoblack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#fadetoblack {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
}

.fade-in {
  animation: fadetoblack 2s ease-in-out forwards;
}

/*--- White Back Loading ---*/
@keyframes whitefadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#whitefadeout {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  opacity: 1;
  animation: fadeOut 2s ease-in-out 2s forwards;
  background: url("../img/splash_white_screen.png") 0 0px, url("../img/splash_white_screen.png") 125px 250px, url("../img/splash_white_screen.png") 0 500px, url("../img/splash_white_screen.png") 125px 750px, url("../img/splash_white_screen.png") 0 1000px, url("../img/splash_white_screen.png") 125px 1250px;
  background-size: 250px 250px;
  background-repeat: repeat-x;
}

/*-- Fade to White --*/
@keyframes fadetowhite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#fadetowhite {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
}

.fade-in-white {
  animation: fadetowhite 2s ease-in-out forwards;
}

/*-- Loader --*/
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* Spinner */
.loader {
  width: 70px;
  height: 70px;
  border: 10px solid rgba(51, 51, 51, 0.7);
  border-top-color: #fcd53f;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#sendGameButton {
  display: block;
  position: relative;
  opacity: 0;
  margin-top: 20vh;
  margin-bottom: 15vh;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: outset 7px #e64a19;
  box-shadow: none;
  outline: none;
}

#sendGameButton::before,
#sendGameButton::after,
#sendGameButton .circle {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: pulse 1.5s infinite ease-out;
}

#sendGameButton::before {
  border: 1px solid #1345B7;
}

#sendGameButton::after {
  border: 1px solid #fcd53f;
  animation-delay: 0.5s;
}

#sendGameButton .circle {
  border: 1px solid #e64a19;
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
/*------------Responsive Rules XXS---------*/
@media only screen and (min-width: 160px) {
  #mute {
    top: 4%;
    left: 89%;
    width: 2cap;
    height: 3cap;
    background-size: 73%;
  }
  .gameBtn {
    font-size: 0.9em;
    padding: 2px;
    border-radius: 0.8rem;
  }
  /*---Loader---*/
  .loader {
    width: 50px;
    height: 50px;
  }
  /*---Progress + Index---*/
  #loading-logo {
    margin-top: 10vh;
  }
  #loading-logo img {
    width: 90%;
  }
  #sendGameButton {
    width: 35%;
  }
  h4.head {
    font-size: 1em;
  }
  h4.subtitle {
    font-size: 1.2em;
  }
  h1.title {
    font-size: 2em;
    margin: 0 auto;
  }
  .buttonbox {
    flex-direction: column;
  }
  #quickGame, #start, #credits {
    margin: 2% auto;
    height: auto;
  }
  section.first {
    padding-top: 3dvh;
  }
  .upCredits {
    width: 90%;
    font-size: 0.6em;
  }
  .upCredits h4 {
    font-size: 1.2em;
    text-shadow: none;
  }
  /*---Game Options---*/
  form fieldset {
    font-size: 0.5em;
  }
  main.option {
    width: 100%;
    min-height: 80dvh;
  }
  h1.h1padding {
    margin: 0 auto;
    width: 50%;
    font-size: 1.2em;
  }
  h2.option {
    font-size: 1.1em;
    padding: 2% 0;
  }
  div.bottombutton {
    margin: 0 1%;
  }
  #popup h2 {
    font-size: 1.2em;
    padding-top: 5dvh;
  }
  #go {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    bottom: -1%;
  }
  #popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  form input[type=text] {
    font-size: 1em;
    padding: 1cap 0;
  }
  label#labelPlayer1, label#labelPlayer2, label#labelPlayer3, label#labelPlayer4 {
    font-size: 0.8em;
  }
  /*---Gameplay---*/
  h3.option {
    font-size: 1em;
    padding: 2dvh 0;
  }
  .newGameplayBG {
    padding-top: 0;
  }
  main.GP {
    width: 100%;
    min-height: 130dvh;
    border-radius: 1.1rem;
  }
  #headOfConditions {
    font-size: 0.556em;
  }
  #back {
    letter-spacing: 0;
  }
  #totalMatches {
    font-size: 5em;
    margin-top: -25px;
  }
  h3#game {
    font-size: 1em;
  }
  h3.ask {
    font-size: 0.9em;
  }
  div#specialMessage {
    font-size: 0.8em;
  }
  div#alertMessage {
    font-size: 1em;
  }
  button.choice {
    width: 40px;
    height: 40px;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
  }
  button.special {
    width: 40px;
    height: 40px;
    padding: 0;
  }
  img#joker {
    width: 25px;
  }
  div.interactive {
    width: 100%;
    height: 40dvh;
    font-size: 0.9em;
  }
  div#resultGame {
    width: 100%;
    height: 120dvh;
    font-size: 0.7em;
    top: 0;
    left: 0;
  }
}
/*------------Responsive Rules XS---------*/
@media only screen and (min-width: 320px) {
  #mute {
    top: 2%;
    right: 2%;
    width: 3cap;
    height: 4cap;
    background-size: 45%;
  }
  .gameBtn {
    font-size: 1em;
    padding: 7px 14px;
    border-radius: 1.1rem;
  }
  /*---Loader---*/
  .loader {
    width: 70px;
    height: 70px;
  }
  /*---Progress + Index---*/
  #loading-logo {
    margin-top: 15vh;
  }
  #loading-logo img {
    width: 80%;
  }
  #sendGameButton {
    width: 100px;
  }
  h4.head {
    font-size: 1.4em;
  }
  h4.subtitle {
    font-size: 1.4em;
  }
  h1.title {
    font-size: 3em;
    margin: 0 auto;
  }
  #quickGame, #start, #credits {
    margin: 2% auto;
    height: 3.5em;
  }
  section.first {
    padding-top: 3dvh;
  }
  .upCredits {
    width: 90%;
    font-size: inherit;
  }
  .upCredits h4 {
    font-size: 2em;
    text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 8px 8px 2px #cccccc;
  }
  /*---Game Options---*/
  form fieldset {
    font-size: 0.9em;
  }
  main.option {
    width: 95%;
    min-height: 80dvh;
  }
  h1.h1padding {
    margin: 0 auto;
    width: 50%;
    font-size: 1.5em;
  }
  h2.option {
    font-size: 1.3em;
    padding: 2% 0;
  }
  div.bottombutton {
    margin: 0 5%;
  }
  #popup h2 {
    font-size: 1.5em;
    padding-top: 1dvh;
  }
  #go {
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    padding: 0%;
  }
  #popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  form input[type=text] {
    font-size: 0.8em;
    padding: 1cap 0;
  }
  label#labelPlayer1, label#labelPlayer2, label#labelPlayer3, label#labelPlayer4 {
    font-size: 1.3em;
  }
  /*---Gameplay---*/
  h3.option {
    font-size: 1.3em;
    padding: 2vh 0;
  }
  .newGameplayBG {
    padding-top: 0;
  }
  main.GP {
    width: 95%;
    min-height: 80dvh;
  }
  #headOfConditions {
    font-size: 0.8em;
  }
  #totalMatches {
    font-size: 6em;
    margin: 0;
    padding: 2px;
  }
  h3#game {
    font-size: 2em;
  }
  h3.ask {
    font-size: 1.5em;
  }
  div#specialMessage {
    font-size: 1.2em;
  }
  div#alertMessage {
    font-size: 1.2em;
  }
  button.choice {
    width: 70px;
    height: 70px;
    font-size: 2em;
  }
  button.special {
    width: 50px;
    height: 50px;
    padding: 2px;
  }
  img#joker {
    width: 30px;
  }
  div.interactive {
    width: 95%;
    height: 20dvh;
    font-size: 0.9em;
  }
  div#resultGame {
    width: 100%;
    height: 80dvh;
    font-size: 0.9em;
    top: 0;
    left: 0;
    padding-top: 10%;
  }
}
/*------------Responsive Rules SM---------*/
@media only screen and (min-width: 360px) {
  #mute {
    top: 2%;
    right: 2%;
    width: 2cap;
    height: 3cap;
    background-size: 40%;
  }
  .gameBtn {
    font-size: 1.4em;
    padding: 7px 14px;
    border-radius: 1.1rem;
  }
  /*---Progress + Index---*/
  h4.head {
    font-size: 2em;
  }
  h4.subtitle {
    font-size: 1.6em;
  }
  h1.title {
    font-size: 4.5em;
    margin: 7% auto;
  }
  #quickGame, #start, #credits {
    margin: 3% auto;
    height: 3em;
  }
  section.first {
    padding-top: 2dvh;
  }
  .upCredits {
    width: 90%;
    font-size: inherit;
  }
  .upCredits h4 {
    font-size: 2.5em;
    text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 8px 8px 2px #cccccc;
  }
  /*---Game Options---*/
  form fieldset {
    font-size: 1.2em;
  }
  main.option {
    width: 95%;
    min-height: 82dvh;
  }
  h1.h1padding {
    margin: 0 auto;
    width: 70%;
    font-size: 2.3em;
  }
  h2.option {
    font-size: 1.5em;
    padding: 2% 0;
  }
  div.bottombutton {
    margin: 10% 5%;
  }
  #popup h2 {
    font-size: 2.2em;
    padding-top: 3dvh;
  }
  #go {
    width: 70px;
    height: 70px;
    font-size: 1.9em;
  }
  #popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  form input[type=text] {
    font-size: 1.3em;
    padding: 1.2cap;
  }
  label#labelPlayer1, label#labelPlayer2, label#labelPlayer3, label#labelPlayer4 {
    font-size: 1.1em;
  }
  /*---Gameplay---*/
  h3.option {
    font-size: 1.5em;
    padding: 2vh 0;
  }
  main.GP {
    width: 95%;
    min-height: 80dvh;
  }
  #headOfConditions {
    font-size: 0.8em;
  }
  #back {
    padding: 0 5px;
    font-size: inherit;
  }
  #totalMatches {
    font-size: 9em;
    margin: -7px 0;
  }
  h3#game {
    font-size: 2em;
  }
  h3.ask {
    font-size: 1.5em;
  }
  div#specialMessage {
    font-size: 1.5em;
  }
  div#alertMessage {
    font-size: 1.5em;
  }
  button.choice {
    width: 80px;
    height: 80px;
    font-size: 3em;
  }
  button.special {
    width: 70px;
    height: 70px;
    padding: 2px;
  }
  img#joker {
    width: 40px;
  }
  div.interactive {
    width: 95%;
    height: 20dvh;
    font-size: 0.9em;
  }
  div#resultGame {
    width: 100%;
    height: 80dvh;
    font-size: 0.9em;
    top: 0;
    left: 0;
  }
}
/*------------Responsive Rules MD---------*/
@media only screen and (min-width: 400px) {
  #mute {
    top: 2%;
    right: 2%;
    width: 3cap;
    height: 3cap;
    background-size: 45%;
  }
  /*---Progress + Index---*/
  h4.head {
    font-size: 2em;
  }
  h4.subtitle {
    font-size: 1.8em;
  }
  h1.title {
    font-size: 6em;
    margin: 10% auto;
  }
  section.first {
    padding-top: 3dvh;
  }
  /*---Game Options---*/
  form fieldset {
    font-size: 1.3em;
  }
  main.option {
    width: 95%;
    min-height: 80dvh;
  }
  h1.h1padding {
    margin: 0 auto;
    width: 70%;
    font-size: 2.7em;
  }
  h2.option {
    font-size: 1.5em;
    padding: 2% 0;
  }
  #popup h2 {
    font-size: 1.5em;
    padding-top: 1vh;
  }
  #popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  /*---Gameplay---*/
  h3.option {
    font-size: 1.8em;
    padding: 2vh 0;
  }
  main.GP {
    width: 95%;
    min-height: 80dvh;
  }
  #totalMatches {
    font-size: 10em;
    margin: 0;
  }
  h3.ask {
    font-size: 1.8em;
  }
  div#specialMessage {
    font-size: 1.5em;
  }
  div#alertMessage {
    font-size: 1.5em;
  }
  button.choice {
    width: 90px;
    height: 90px;
    font-size: 3em;
  }
  button.special {
    width: 70px;
    height: 70px;
    padding: 2px;
  }
  img#joker {
    width: 40px;
  }
  div.interactive {
    width: 95%;
    height: 20dvh;
    font-size: 0.9em;
  }
  div#resultGame {
    width: 100%;
    height: 80dvh;
    font-size: 0.9em;
    top: 0;
    left: 0;
  }
}
/*------------Responsive Rules LG---------*/
@media only screen and (min-width: 720px) {
  #mute {
    top: 3%;
    left: 90%;
    width: 3cap;
    height: 3cap;
    background-size: 35%;
  }
  .gameBtn {
    font-size: 2em;
    padding: 7px 14px;
    border-radius: 1.1rem;
    height: auto;
  }
  .closeBtn {
    height: 30px;
  }
  /*---Progress + Index---*/
  #loading-logo {
    margin-top: 25dvh;
  }
  #loading-logo img {
    width: 100%;
  }
  #sendGameButton {
    width: 150px;
    height: 150px;
    margin-top: 18vh;
  }
  h4.head {
    font-size: 3em;
  }
  h4.subtitle {
    font-size: 3em;
  }
  h1.title {
    font-size: 9em;
    margin: 2% auto;
  }
  #quickGame, #start, #credits {
    margin: 1% auto;
    height: 3em;
    width: 20cap;
  }
  /*---Game Options---*/
  form fieldset {
    font-size: 1.5em;
  }
  main.option {
    width: 95%;
    min-height: 70dvh;
  }
  h1.h1padding {
    margin: 0 auto;
    width: 60%;
    font-size: 4em;
  }
  h2.option {
    font-size: 2.5em;
    padding: 1% 0;
  }
  #popup h2 {
    font-size: 3em;
    padding-top: 2vh;
  }
  #go {
    width: 90px;
    height: 90px;
  }
  #popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  label#labelPlayer1, label#labelPlayer2, label#labelPlayer3, label#labelPlayer4 {
    font-size: 1.5em;
  }
  /*---Gameplay---*/
  h3.option {
    font-size: 2.5em;
    padding: 1vh 0;
  }
  main.GP {
    width: 95%;
    min-height: 75dvh;
  }
  #headOfConditions {
    font-size: 1.1em;
  }
  #totalMatches {
    font-size: 13em;
    padding: 0;
  }
  h3#game {
    font-size: 3em;
  }
  h3.ask {
    font-size: 2em;
  }
  div#specialMessage {
    font-size: 1.7em;
  }
  div#alertMessage {
    font-size: 1.7em;
  }
  button.choice {
    width: 100px;
    height: 100px;
    font-size: 3em;
    margin: 5px;
    padding: 2px;
  }
  button.special {
    width: 75px;
    height: 75px;
    padding: 2px;
  }
  img#joker {
    width: 45px;
  }
  div.interactive {
    width: 95%;
    height: 17dvh;
    font-size: 0.9em;
  }
  div#resultGame {
    width: 100%;
    height: 75dvh;
    font-size: 1.2em;
    top: 0;
    left: 0;
  }
}
/*------------Responsive Rules CLASSIC SCREEN---------*/
@media only screen and (min-width: 1024px) {
  #mute {
    top: 10%;
    right: 15%;
    left: 89%;
    width: 3cap;
    height: 2cap;
    background-size: 45%;
  }
  .gameBtn {
    font-size: 1.2em;
    padding: 7px 14px;
    border-radius: 1.1rem;
  }
  /*---Progress + Index---*/
  #sendGameButton {
    width: 100px;
    height: 100px;
    margin-top: 20vh;
  }
  h4.head {
    font-size: 2em;
  }
  h4.subtitle {
    font-size: 2em;
  }
  h1.title {
    font-size: 9em;
    margin: 3vh auto;
  }
  .buttonbox {
    flex-direction: row;
  }
  #quickGame, #start, #credits {
    width: 15cap;
    height: auto;
    margin: 0 1%;
  }
  section.first {
    padding-top: 5vh;
  }
  .upCredits {
    width: 40%;
    font-size: inherit;
  }
  .upCredits h4 {
    font-size: 2em;
  }
  /*---Game Options---*/
  form fieldset {
    font-size: 1.3em;
  }
  main.option {
    width: 50%;
    min-height: auto;
  }
  h1.h1padding {
    margin: 0 auto;
    width: auto;
    font-size: 3em;
  }
  h2.option {
    font-size: 2em;
    padding: 0;
  }
  div.bottombutton {
    margin: 0 10%;
  }
  #popup h2 {
    font-size: 2em;
    padding: unset;
  }
  #go {
    width: 70px;
    height: 70px;
    font-size: 1.6em;
    bottom: 10%;
  }
  #popup {
    top: 3%;
    left: 5%;
    width: 90%;
    height: 94%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2cap;
  }
  form input[type=text] {
    font-size: 1.2em;
    padding: 1.2cap;
  }
  label#labelPlayer1, label#labelPlayer2, label#labelPlayer3, label#labelPlayer4 {
    font-size: 1.1em;
  }
  /*---Gameplay---*/
  h3.option {
    font-size: 1.6em;
    padding: 1vh 0;
  }
  main.GP {
    width: 50%;
    height: auto;
  }
  #headOfConditions {
    font-size: 1em;
  }
  #totalMatches {
    font-size: 11em;
    margin: -50px 0 -20px 0;
  }
  h3#game {
    font-size: 2em;
  }
  h3.ask {
    font-size: 1.6em;
  }
  div#specialMessage {
    font-size: 1.1em;
  }
  div#alertMessage {
    font-size: 1.3em;
  }
  button.choice {
    width: 100px;
    height: 100px;
    font-size: 3em;
    margin: 5px;
    padding: 2px;
  }
  button.special {
    width: 75px;
    height: 75px;
    padding: 2px;
  }
  img#joker {
    width: 38px;
  }
  div.interactive {
    width: 70%;
    height: 160px;
    font-size: 0.9em;
  }
  div#resultGame {
    width: 95%;
    height: 95%;
    top: 2%;
    left: 2%;
    padding-top: 10%;
    font-size: 1.5em;
  }
}
/*------------Responsive Rules IPAD PRO 13 INCH SIZE---------*/
@media only screen and (width: 1024px) and (min-height: 1366px) {
  #mute {
    top: 3%;
    left: 90%;
    width: 4cap;
    height: 4cap;
    background-size: 50%;
  }
  .gameBtn {
    font-size: 2em;
    padding: 7px 14px;
    border-radius: 1.1rem;
    height: auto;
  }
  .closeBtn {
    height: 30px;
  }
  /*---Progress + Index---*/
  #loading-logo {
    margin-top: 25dvh;
  }
  #loading-logo img {
    width: 100%;
  }
  #sendGameButton {
    width: 150px;
    height: 150px;
    margin-top: 18vh;
  }
  h4.head {
    font-size: 3em;
  }
  h4.subtitle {
    font-size: 3em;
  }
  h1.title {
    font-size: 11em;
    margin: 3vh auto;
  }
  .buttonbox {
    flex-direction: column;
  }
  #quickGame, #start, #credits {
    margin: 2% auto;
    height: 3em;
    width: 25cap;
  }
  /*---Game Options---*/
  form fieldset {
    font-size: 2em;
  }
  main.option {
    width: 95%;
    min-height: 70dvh;
  }
  h1.h1padding {
    margin: 0 auto;
    width: 60%;
    font-size: 5em;
  }
  h2.option {
    font-size: 2.5em;
    padding: 1% 0;
  }
  #popup h2 {
    font-size: 3em;
    padding-top: 2vh;
  }
  #go {
    width: 90px;
    height: 90px;
    font-size: 1.8em;
    top: 75%;
    padding: 0;
  }
  #popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  form input[type=text] {
    font-size: 1.3em;
    padding: 1.2cap;
  }
  label#labelPlayer1, label#labelPlayer2, label#labelPlayer3, label#labelPlayer4 {
    font-size: 1.5em;
  }
  /*---Gameplay---*/
  h3.option {
    font-size: 2.5em;
    padding: 1vh 0;
  }
  main.GP {
    width: 95%;
    min-height: 75dvh;
  }
  #headOfConditions {
    font-size: 1.5em;
  }
  #totalMatches {
    font-size: 15em;
    margin: 0;
    padding: 0;
  }
  h3#game {
    font-size: 3em;
  }
  h3.ask {
    font-size: 2em;
  }
  div#specialMessage {
    font-size: 2em;
  }
  div#alertMessage {
    font-size: 2em;
  }
  button.choice {
    width: 150px;
    height: 150px;
    font-size: 5em;
    margin: 5px;
    padding: 2px;
  }
  button.special {
    width: 120px;
    height: 120px;
    padding: 5px;
  }
  img#joker {
    width: 70px;
  }
  div.interactive {
    width: 95%;
    height: 20dvh;
    font-size: 1.2em;
  }
  div#resultGame {
    width: 100%;
    height: 75dvh;
    font-size: 2em;
    top: 0;
    left: 0;
  }
}
/*-----------Index Style-----------*/
#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.title {
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 9em;
  line-height: 0.8em;
}

section {
  padding-top: 5vh;
}

.buttonbox {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

/*------------Game Options Style------------*/
.game-option-label {
  font-family: "Reglisse-Fill";
  font-size: 2.3em;
  color: #ff6f00;
  cursor: pointer;
}

input[type=radio].game-option-input {
  display: none;
}
input[type=radio].game-option-input + label {
  border: dashed 0.01cap #333;
  border-radius: 5px;
  padding: 0 20px;
  margin-bottom: 3%;
  display: inline-block;
}
input[type=radio].game-option-input:checked + label {
  color: #e64a19;
  border: solid 0.1cap #e64a19;
  background-color: rgb(252, 239.3095238095, 190.5);
}

input[type=text] {
  width: 50%;
  height: 0.9rem;
  border: 0.3cap solid rgb(160.7821782178, 186.5247524752, 245.2178217822);
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 1.2cap;
  font-family: "Reglisse-Fill";
  font-size: 1.3em;
  color: #1345B7;
  margin-bottom: 1cap;
  text-align: center;
  width: auto;
}
input[type=text]:focus {
  outline: none;
  border-color: rgb(70, 104.4512195122, 183);
}

fieldset {
  border: 1px solid #e64a19;
  border-radius: 0.5rem;
  width: 90%;
  margin: 0 auto;
  padding: 3%;
  font-family: "Reglisse-Fill";
  font-size: 1.3em;
  color: #e64a19;
}

#labelPlayer1, #labelPlayer2 {
  font-family: "Reglisse-Fill";
  font-size: 1.1em;
}

#labelPlayer3,
#labelPlayer4 {
  display: none;
  font-family: "Reglisse-Fill";
  font-size: 1.1em;
}

.bottombutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10%;
}

.newGameplayBG {
  width: 100%;
  height: 100vh;
  background-image: url("../img/splash_white_screen.png");
  background-size: 15%;
  background-repeat: repeat;
  background-attachment: fixed;
}

.newGameplayBG main {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.5);
}

.matchVisu {
  width: 50px;
  height: 50px;
}

.totalMatches {
  color: #ffa500;
  font-size: 11em;
  font-family: "Reglisse-Fill";
  text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 8px 8px 2px #cccccc;
  margin-top: -50px;
  margin-bottom: -20px;
}

.interactive {
  border: 1px dashed #333;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 2% auto;
  width: 70%;
  height: 160px;
}

#resultGame {
  display: none;
  position: absolute;
  left: 2%;
  top: 2%;
  width: 96%;
  height: 96%;
  padding-top: 0;
  font-size: 1.5em;
  border-radius: 2cap;
  border: dotted 2px #ff6f00;
  text-align: center;
  backdrop-filter: blur(2px);
  background-color: rgba(252, 244.5714285714, 216, 0.9);
  box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.6);
}

.resultloser {
  color: #e64a19;
  font-family: "Reglisse-Fill";
  font-size: 1.7em;
  padding: 2%;
  text-shadow: #333 0px 3px 2px;
}

.resultwinner {
  color: #fcd53f;
  font-family: "Reglisse-Fill";
  font-size: 1.7em;
  padding: 2%;
  text-shadow: #333 0px 3px 2px;
}

#alertMessage {
  color: #ff6f00;
  font-family: "Reglisse-Fill";
  font-size: 1.3em;
}

#specialMessage {
  color: #e64a19;
  font-family: "Reglisse-Fill";
  font-size: 1.1em;
  height: 1.1em;
}

#game {
  font-size: 2em;
  color: #ffa500;
  font-family: "Reglisse-Fill";
}

.choice {
  font-family: "Reglisse-fill";
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 2px;
  border-width: 5px;
  border-radius: 15px;
  border-color: #ffa500;
  border-style: outset;
  box-shadow: 0px 2px 2px 1px rgba(51, 51, 51, 0.5);
  cursor: pointer;
  background-image: linear-gradient(#fff, #bbbbbb);
  font-size: 3em;
}
.choice:hover {
  border-color: #ff5722;
  box-shadow: 0px 1px 1px 1px rgba(51, 51, 51, 0.5);
}
.choice:active {
  border-color: #e64a19;
}

.special {
  opacity: 0.3;
  width: 75px;
  height: 75px;
  margin: 3% 0;
  padding: 2px;
  border-radius: 15px;
  border-color: #fcd53f;
  box-shadow: 0px 2px 2px 1px rgba(51, 51, 51, 0.5);
  background-image: linear-gradient(#fff, #bbbbbb);
  font-size: 2.5em;
  cursor: pointer;
}
.special:hover {
  border-color: rgb(226.5, 192.7619047619, 63);
  box-shadow: 0px 1px 1px 1px rgba(51, 51, 51, 0.5);
}

#joker {
  width: 38px;
  height: auto;
}

#btn2 {
  display: inline-block;
}

#gameConditions {
  font-family: "Reglisse-Fill";
}

.playerturn {
  color: #e64a19;
  font-family: "Reglisse-Fill";
  text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 8px 8px 2px #cccccc;
}

#headOfConditions {
  display: flex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

main {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  border: 2px dotted #ff5722;
  width: 50%;
  height: auto;
  margin: 1% auto;
  padding: 1%;
  border-radius: 1.5rem;
}

h1 {
  font-family: "SuperMario256";
  font-size: 3em;
  text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 8px 8px 2px #cccccc;
  color: #ffa500;
}

.h1padding {
  padding-top: 0.6cap;
}

h2 {
  font-family: "Reglisse-Fill";
  font-size: 2em;
  text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 8px 8px 2px #cccccc;
  color: #ffa500;
}

h3 {
  font-family: "Reglisse-fill";
  font-size: 1.6em;
  text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 8px 8px 2px #cccccc;
  color: #ffa500;
  line-height: 1.6cap;
}

h4 {
  font-family: "Reglisse-fill";
  font-size: 2em;
  text-shadow: 2px 2px 0 #ff6f00, 4px 4px 0 #ff5722, 6px 6px 0 #e64a19, 8px 8px 2px #cccccc;
  color: #ffa500;
}

/*# sourceMappingURL=main.css.map */
